<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="bg-primary">Name <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"><span class="sr-only">Sorted by ascending</span></span></th>
                <th>Country Check Severity</th>
                <th>Created Date <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                <th>Modified Date <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let profile of profiles" class="{{profile.id}}">
                <td scope="row">{{profile.name}}</td>
                <td>
                  <span class="label label-warning" *ngIf="profile.country_check_severity === 'Warning'">Warning</span>
                  <span class="label label-success" *ngIf="profile.country_check_severity ==='Ok'">Ok</span>
                  <span class="label label-danger" *ngIf="profile.country_check_severity === 'Critical'">Critical</span>
                </td>
                <td>{{profile.created}}</td>
                <td>{{profile.modified}}</td>
            </tr>
        </tbody>
    </table>
</div>