<h2><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</h2>
<form class="form-inline">
    <div class="form-group">
        <label for="">Search</label>
        <input type="search" name="name" id="name" class="form-control" (keyup)="filter()" [(ngModel)]="filterProps.name">
    </div>
    <div class="form-group country-severity-filter">
        <strong>Country Check Severity</strong>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success" [ngClass]="{'active': filterProps.ok}">
                <input type="checkbox" name="country-check-severity" id="country-check-severity-ok" checked autocomplete="off" (change)="filter()" [(ngModel)]="filterProps.ok"> Ok
            </label>
            <label class="btn btn-warning" [ngClass]="{'active': filterProps.warning}">
                <input type="checkbox" name="country-check-severity" id="country-check-severity-warning" autocomplete="off" (change)="filter()" [(ngModel)]="filterProps.warning" value="Warning"> Warning
            </label>
            <label class="btn btn-danger" [ngClass]="{'active': filterProps.critical}">
                <input type="checkbox" name="country-check-severity" id="country-check-severity-critical" autocomplete="off" (change)="filter()" [(ngModel)]="filterProps.critical" value="Critical"> Critical
            </label>
        </div>
        
    </div>
</form>

<hr>
<p>Displaying <strong>{{profiles.length}}</strong> of <strong>{{profilesUnfiltered.length}}</strong> results.</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th (click)="sortByHeader('alpha','name')" [ngClass]="{'bg-primary': sort.activeAttribute === 'name'}">
                  Name 
                  <span *ngIf="sort.activeAttribute === 'name' && sort.reverse === false" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"><span class="sr-only">Sorted by A-Z</span></span>
                  <span *ngIf="sort.activeAttribute === 'name' && sort.reverse === true" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"><span class="sr-only">Sorted by Z-A</span></span>
                  <span *ngIf="sort.activeAttribute !== 'name'" class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                </th>
                <th>Country Check Severity</th>
                <th (click)="sortByHeader('date','created')" [ngClass]="{'bg-primary': sort.activeAttribute === 'created'}">
                  Created Date
                  <span *ngIf="sort.activeAttribute === 'created' && sort.reverse === false" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"><span class="sr-only">Sorted by recent.</span></span>
                  <span *ngIf="sort.activeAttribute === 'created' && sort.reverse === true" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"><span class="sr-only">Sorted by oldest.</span></span>
                  <span *ngIf="sort.activeAttribute !== 'created'" class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                </th>
                <th (click)="sortByHeader('date','modified')" [ngClass]="{'bg-primary': sort.activeAttribute === 'modified'}">
                  Modified Date
                  <span *ngIf="sort.activeAttribute === 'modified' && sort.reverse === false" class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"><span class="sr-only">Sorted by recent.</span></span>
                  <span *ngIf="sort.activeAttribute === 'modified' && sort.reverse === true" class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"><span class="sr-only">Sorted by oldest.</span></span>
                  <span *ngIf="sort.activeAttribute !== 'modified'" class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let profile of profiles" class="{{profile.id}}">
                <td scope="row">{{profile.name}}</td>
                <td>
                  <span class="label label-warning" *ngIf="profile.country_check_severity === 'Warning'">Warning</span>
                  <span class="label label-success" *ngIf="profile.country_check_severity ==='Ok'">Ok</span>
                  <span class="label label-danger" *ngIf="profile.country_check_severity === 'Critical'">Critical</span>
                </td>
                <td>{{profile.created | date:'medium'}}</td>
                <td>{{profile.modified | date:'medium'}}</td>
            </tr>
        </tbody>
    </table>
</div>